{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Edit '{{ blog.title }}'{% endblock %}
{% block body %}
<form action="{{ path('BloggerBlogBundle_blog_update', {'id': blog.id, 'slug': blog.slug }) }}" method="POST" class="blogger">
{% include 'BloggerBlogBundle:Blog:form.html.twig' %}
    <footer>
        <input type="submit" value="Save" />
    </footer>
</form>
{% endblock body %}

