{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}New Blog{% endblock %}
{% block body %}
<form action="{{ path('BloggerBlogBundle_blog_create') }}" method="POST" class="blogger">
{% include 'BloggerBlogBundle:Blog:form.html.twig' %}
    <footer>
        <input type="submit" value="Save" />
    </footer>
</form>
{% endblock body %}

